.movie-list-overview{
    background: rgba(0, 0, 0, 0.502);
    border: 1px solid black;
    margin: 0 auto;
    width: 150px;
    height: auto;
    position: absolute;
    left: 0;
    top: -150px;
    z-index: 1;
    
}

.movie-list-container h2{
    color: whitesmoke;
}

.movie-list-box{
    display: inline-block;
    margin: 12px;
    width: 100px;
    position: relative;
}

.movie-list-img{
    width: 100px;
}

.movie-list-title{
    color: whitesmoke;
    font-size: 12px;
}

.movie-list-details{
    color: whitesmoke;
    padding: 3px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.4;
    text-align: left;
}