.movie-list-overview{
    background: black;
    border: 1px solid black;
    margin: 0 auto;
    width: 150px;
    height: auto;
    position: absolute;
    left: 0;
    top: -150px;
    z-index: 1
    
}


.movie-list-box{
    display: inline-block;
    margin: 12px;
    width: 100px;
    position: relative;
}

.movie-list-img{
    width: 100px;
}

.movie-list-title{
    color: whitesmoke;
    font-size: 12px;
}

.movie-list-details{
    color: whitesmoke;
    padding: 3px;
    font-size: 10px;
    line-height: 1.4;
    text-align: left;
}