.overview-transition{
    border: 1px solid black;
    margin: 0 auto;
    width: 200px;
    height: auto;
    animation-name: overview-in;
    animation-duration: 1s;
}

.watched-movies-container{
  display: inline-block;
  width: 200px;
}

.watched-list-box{
  margin: 12px;
  width: auto;
  height: 200px;
  position: relative;
  /* border: 1px solid white; */
}

.watched-list-img{
  width: 100px;
}

.watched-list-img:hover{
 opacity: .7;
 cursor: pointer;
}

.watched-list-overview{
  color: white;
  text-align: left;
  line-height: 1.4;
}
@keyframes overview-in {
    0%   {opacity: 0;}
    25%  {opacity: .2;}
    50%  {opacity: .5;}
    100% {opacity: 1;}
  }
  @keyframes overview-out {
    0%   {opacity: 1;}
    25%  {opacity: .5;}
    50%  {opacity: .2;}
    100% {opacity: 0;}
  }
